.info {
    position: absolute;
    top: 20px;
    right: 10px;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    align-self: flex-end;

    /*margin-top: 20px;*/
    /*margin-right: 10px;*/
}

.info:hover {
    cursor: pointer;
}

.info__mail-image {
    width: 24px;
    height: 24px;

    margin-right: 7px;
}

.info__mail-text {
    font: 400 13px/100% "DM Sans", sans-serif;
    color: #222222;

    text-decoration: underline;
}

.stopwatch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 40px;
}

.big-text {
    font: 400 22px/150% "DM Sans", sans-serif;
    color: #222222;
}

.main__scan-btn {
    width: fit-content;
    height: 40px;
}