.top-controls {
    display: flex;

    align-items: center;
    justify-content: space-between;

    position: absolute;
    top: 20px;

    width: 100vw;
    padding: 0 16px;
}

.top-controls__change-token {
    background-color: transparent;
    border: 1px solid #333333;
    color: #333333;

    font: 400 16px/100% "Golos UI";
    padding: 6px 12px;
    border-radius: 6px;

    transition: background-color 0.2s ease-in-out;
}
.top-controls__change-token:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.change-email__tooltip-text {
    /*background-color: #222222;*/
    background-color: transparent;
    color: #333333;
    padding: 5px 8px;

    border: 1px solid #333333;
    border-radius: 6px;
    white-space: nowrap;

    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);

    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
}

.change-email:hover .change-email__tooltip-text {
    opacity: 1;
}

.change-email {
    display: flex;
    position: relative;
    cursor: pointer;
    align-items: center;
}

.change-email__mail-image {
    width: 24px;
    height: 24px;

    margin-right: 7px;
}

.change-email__mail-text {
    font: 400 13px/100% "Golos UI";
    color: #222222;

    text-decoration: underline;
}

.status {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 40px;
}

.status__label {
    text-align: center;
}

.status__value {
    text-align: center;
}

.big-text {
    font: 400 22px/150% "Golos UI";
    color: #222222;
}

.main__scan-btn {
    width: fit-content;
    height: 40px;
}